@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

* {
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

html, body {
    background: url(../bg.jpg) center right no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.list-nav {
    flex-direction: row !important;
}

.list-nav li {
    margin: 0px 0.6rem;
}

.list-nav li a {
    font-size: 2rem;
    color: rgb(230, 230, 230) !important;
}

.list-nav li a:hover {
    font-size: 2rem;
    color: white !important;
}

.brand {
    font-size: 1.5rem;
    letter-spacing: -0.15rem;
    background: white;
    color: #212529 !important;
    padding: 0.1rem 1.5rem;
    border-radius: 0.6rem;
}

.card {
    border: none !important;
    max-width: 13rem;
}

.card-header {
    background-color: orangered;
}

.card p {
    color:#212529 !important;
}