@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --light-blue: #4c79ff;
  --blue: #3f6eff;
  --light-gray: #fafafa;
  --gray: #c1c1c1;
  --gray-2: #838383;
  --gray-3: #8d8d8d;
  --dark-gray: #595959;
  --white: #ffffff;
  --black-1: #212121;
  --black-2: #141414;
  --black-3: #383838;
  --yellow: #fcff55;
}

body {
  background-color: var(--light-gray);
}

/* Fonts weight */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

/* Text misc */
.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

/* Text color */
.light-gray {
  color: var(--light-gray);
}

.gray {
  color: var(--gray);
}

.gray-2 {
  color: var(--gray-2);
}

.dark-gray {
  color: var(--dark-gray);
}

.light-blue {
  color: var(--light-blue);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.black-1 {
  color: var(--black-1);
}

/* Background */
.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-black-1 {
  color: var(--black-1);
}

/* Others */
.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

.advertise {
  padding: 0.5rem 0;
  background-color: var(--blue);
}

.advertise p,
.advertise a {
  color: var(--white);
}

.navbar {
  background-color: var(--black-1);
}

.navbar > .container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.navbar a {
  display: inline-block;
}

.nav-header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-header ul a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.nav-header ul a:hover {
  background-color: var(--blue);
}

main {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: flex-end;
  gap: 2rem;
}

.description {
  max-width: 80ch;
  text-align: right;
}

.description h1 {
  font-size: 3rem;
}

.description h3 {
  font-size: 1.3rem;
}
.description h2 {
  color: var(--blue);
}

.experiencia,
.projetos,
.formacao {
  padding-bottom: 2rem;
}

.experiencia section,
.formacao section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.experiencia-title,
.projetos-title,
.formacao-title,
.contato-title {
  text-transform: uppercase;
  color: var(--black-1);
  padding-top: 2rem;
  font-size: 1.8rem;
}

.section-title {
  text-transform: uppercase;
  color: var(--dark-gray);
  font-size: 1.1rem;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  padding: 1rem;
  border: 2px solid var(--gray);
  border-radius: 0.2rem;
}

.card h5 {
  font-size: 1rem;
}

.card h6 {
  font-size: 0.9rem;
}

.card h6:first-of-type {
  margin-top: 0.5rem;
}

.idioma .card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.idioma .card h6 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.proj-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.projetos-title {
  padding-bottom: 2rem;
}

.proj-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--white);
  border-radius: 0.2rem;
  border: 2px solid var(--gray);
  padding: 1rem;
}

.proj-card p {
  max-width: 70ch;
}

.proj-link {
  margin-top: 0.5rem;
  padding: 0.4rem 0.9rem;
  background-color: var(--blue);
  border-radius: 0.2rem;
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 0.9rem;
}

.proj-link:hover {
  background-color: var(--light-blue);
}

.stacks {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stacks h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--gray-3);
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  color: var(--white);
}

.contato-title {
  color: var(--white);
  margin-bottom: 2rem;
}

.contato {
  color: var(--white);
  background-color: var(--black-1);
  padding-bottom: 2rem;
  text-align: center;
}

.contato nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.contato nav ul a {
  text-decoration: none;
  color: var(--white);
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

.contato nav ul a:hover {
  background-color: var(--blue);
}

.contato nav ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: center;
}

.contato nav ul img {
  height: 1.5rem;
}

.contato nav ul h3 {
  font-size: 1rem;
  font-weight: 500;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--black-2);
  color: var(--white);
}

.credits a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--white);
}

.credits a img {
  width: 1.5rem;
  height: 1.5rem;
}

.credits a h3 {
  font-size: 1rem;
}

.flag {
  height: 2.25rem;
  border-radius: 5px;
}

@media (max-width: 520px) {
  .experiencia-title,
  .formacao-title {
    font-size: 1.6rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .advertise {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }

  .description h1 {
    font-size: 2rem;
  }

  .description h2 {
    font-size: 1.2rem;
  }

  .description h3 {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .nav-header ul li {
    font-size: 0.9rem;
  }

  .contato nav ul a {
    background-color: var(--black-3);
  }

  .contato nav ul {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar > .container {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .nav-header ul {
    flex-wrap: wrap;
  }

  .nav-header ul a {
    background-color: var(--black-3);
    padding: 0.5rem 0.8rem;
  }
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .avatar {
    display: none;
  }

  .description {
    text-align: left;
    max-width: none;
  }
}

@media (max-width: 1200px) {
  .proj-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
