@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar {
    background-color: rgba(220,53,69, 0.9) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: white !important;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
}

.brand {
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Odibee Sans', cursive;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}

#img-emoji {
    width: 100%;
    max-width: 400px;
}

#mainText p {
    font-size: 1.2rem;
}

.icon {
    font-size: 1.35rem;
}

#mainText h2 {
    font-size: 2rem;
    font-weight: bold;
}

.mainFooter, .footer {
    font-size: 1.1rem;
}

.boxContent {
    width: 66.6%;
}

.boxTop {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.boxTop h2 {
    font-family: 'Odibee Sans', cursive;
    font-size: 2.5rem;
}

.boxBottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

@media (max-width: 575.98px) { 
    .boxContent {
        width: 90% !important;
    }
}

@media (max-width: 767px) {
    #mainText {
        text-align: center;
    }

    .mainFooter, .footer {
        font-size: 0.95rem;
    }
}

@media (max-width: 991.98px) { 
    .boxContent {
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .mainFooter {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    #text {
        order: 1;
    }

    #imgEmj {
        order: 2;
    }
}
